
## <summary>policy for daylight</summary>


########################################
## <summary>
##	Transition to daylight.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`daylight_domtrans',`
	gen_require(`
		type daylight_t, daylight_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, daylight_exec_t, daylight_t)
')


########################################
## <summary>
##	Execute daylight server in the daylight domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`daylight_initrc_domtrans',`
	gen_require(`
		type daylight_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, daylight_initrc_exec_t)
')


########################################
## <summary>
##	Search daylight lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`daylight_search_lib',`
	gen_require(`
		type daylight_var_lib_t;
	')

	allow $1 daylight_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read daylight lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`daylight_read_lib_files',`
	gen_require(`
		type daylight_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, daylight_var_lib_t, daylight_var_lib_t)
')

########################################
## <summary>
##	Manage daylight lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`daylight_manage_lib_files',`
	gen_require(`
		type daylight_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, daylight_var_lib_t, daylight_var_lib_t)
')

########################################
## <summary>
##	Manage daylight lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`daylight_manage_lib_dirs',`
	gen_require(`
		type daylight_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, daylight_var_lib_t, daylight_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a daylight environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`daylight_admin',`
	gen_require(`
		type daylight_t;
		type daylight_initrc_exec_t;
		type daylight_var_lib_t;
	')

	allow $1 daylight_t:process { ptrace signal_perms };
	ps_process_pattern($1, daylight_t)

	daylight_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 daylight_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, daylight_var_lib_t)

')

